<h1>Edit Note</h1>
<% if @note.errors.any?  %>
  <ul>
    <% @note.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @note do |f| %>
  <%= f.collection_select :varietal_id, @varietals, :id, :name  %> <br>
  <%= f.text_field :sweetness %> <br>
  <%= f.text_field :acidity %> <br>
  <%= f.text_field :tanin%> <br>
  <%= f.number_field :alcohol%> <br>
  <%= f.text_field :body%> <br>
  <%= f.submit "Update Note" %>
<% end %>
