<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Recommendations</title>
</head>
  <body>
    <div class="container">
      <h1>
        <center>
          <%=link_to "Get New Recommendations", new_recommendation_path%>
        </center>
      </h1>
    </div>
  <div class="container svg">
    <div  class="row">
      <div class="col-lg">
        <hr id="hrmain">
          <% @recommendations.each do |recommendation| %>
            <p><%=link_to recommendation.name, recommendation_path(recommendation), :id => "namelink" %></p>
            <p>Vintage: <%= recommendation.year %></p>
            <p>Region: <%= recommendation.region %></p>
            <p>Global Wine Score: <%= recommendation.score %></p>
            <p><%=link_to "Wine Details", recommendation.url, target: :_blank %></p>
          <% end %>
        </hr>
      </div>
    </div>
  </div>
</body>
</html>
