<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <div class="container grapes">


        <% if @varietal.errors%>
          <% @varietal.errors.full_messages.each do |message|  %>
            <p><%= message %></p>
          <% end %>
        <% end %>
        <h1>New Varietal</h1>

        <%= bootstrap_form_for @varietal  do |f| %>
          <%= f.text_field :name %> <br>
          <%= f.text_field :description %> <br>
          <%= f.text_field :image_url%> <br>
          <%= f.collection_select :category_id, @categories, :id, :name  %> <br>
          <%= f.submit "Add Varietal", :class => 'btn btn-outline-warning',
                                       :id    =>  'add-varietal'  %>
        <% end %>

      </div>
  </body>
</html>
