<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container  svg">
      <div class="row">
        <div class="col-8">
          <br>
          <h2 ><%= link_to @varietal.name, varietals_path, :style => 'color: rgb(107, 35, 25)' %></h2>

          <h4>
            <u>
              <b>
                Characteristics:
              </b>
            </u>
          </h4>
          <p>
            <%= @varietal.description %>
          </p>

          <hr>

          <div id="pic">
            <%= link_to image_tag @varietal.image_url, :class => "img-fluid" %>
          </div>
          <br>
          <%= link_to "Edit Varietal", edit_varietal_path(@varietal), :class => "btn btn-outline-light", :style => 'color: rgb(107, 35, 25)', :id => 'wine-search' %>
          <br/>
          <h4>
            Recommendations:
          </h4>
            <% @recommendations.each do |rec| %>
            <% if rec.varietal_id == @varietal.id %>
              <p><b><%= rec.name %></b></p>
              <p>Vintage: <%= rec.year %></p>
              <p>Region: <%= rec.region %></p>
              <p>Global Wine Score: <%= rec.score %></p>
            <p>  <%=link_to "Wine Details", rec.url %></p>
            <%end%>
            <%end%>

          <hr>
        </div>
        <div class="col-4">
          <h4>Tasting notes</h4>
          <hr>
          <ul class="list-group list-group-flush">
            <%= link_to 'Add Notes', new_note_path, :style => 'color: rgb(111, 122, 16)', :class => 'btn btn-outline-light', :id => 'add-varietal' %>
          </ul>
          <hr id="">
          <br/>
          <% @notes.each do |note| %>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <u>Sweetness:</u>
                <%= note.sweetness %></li>
              <li class="list-group-item">
                <u>Acidity:</u>
                <%= note.acidity %></li>
              <li class="list-group-item">
                <u>Tanin:</u>
                <%= note.tanin %></li>
              <li class="list-group-item">
                <u>Alcohol:</u>
                <%= note.alcohol %></li>
              <li class="list-group-item">
                <u>Body:</u>
                <%= note.body %></li><br/>
              <%= link_to 'Edit Note', edit_note_path(note.id), :class => "btn btn-outline-light", :style => 'color: rgb(107, 35, 25)', :id => 'wine-search' %>
              <br>
              <%= link_to "Delete Note", note_path(note.id), method: "DELETE", :class => 'btn btn-outline-light', :style => 'color: rgb(107, 35, 25)', :id => 'wine-delete' %>
              <br/>
            </ul>
          <% end %>

        </div>
      </div>

    </div>
  </body>
</html>
