
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container  svg">
      <div class="row">
      <div class="col-8">
          <h2><%= link_to @varietal.name, varietals_path %></h2>

          <h4> <u><b>Characteristics: </b></u></h4>
        <p> <%= @varietal.description %></p>
          <hr>

        <div id="pic" >
             <%= link_to image_tag @varietal.image_url, :class => "img-fluid" %>
          </div>
          <br/>
            <%= link_to "Edit Varietal", edit_varietal_path(@varietal), :class => "btn btn-outline-success" %>
            <br/>
            <hr>
      </div>
      <div class="col-4">
          <h4>Tasting notes</h4>
          <hr>
          <ul class="list-group list-group-flush">
            <%= link_to 'Add Note', new_note_path, :class => 'btn btn-outline-primary' %>
          </ul>
            <hr id="hrmain">
            <br/>
            <% @notes.each do |note| %>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><u>Sweetness:</u> <%= note.sweetness %></li>
                <li class="list-group-item"><u>Acidity:</u> <%= note.acidity %></li>
                <li class="list-group-item"><u>Tanin:</u> <%= note.tanin %></li>
                <li class="list-group-item"><u>Alcohol:</u> <%= note.alcohol %></li>
                <li class="list-group-item"><u>Body:</u> <%= note.body %></li><br/>
                <%= link_to 'Edit Note', edit_note_path(note.id) %> <%= link_to "Delete Note", note_path(note.id), method: "DELETE" %>
                <br/>
              </ul>
            <% end %>

<!--
            <h5></h5><br>
            <h5></h5><br>
            <h5></h5><br>
            <h5>Alcohol:</h5><br>
            <h5></h5><br> -->
      </div>
    </div>



    <div class="container">
      <div class="row">
        <div class="col-lg">

          </div>
      </div>
    </div>
    </div>
  </body>
</html>
